{% import '@SyliusAdmin/Product/Attribute/attributeValues.html.twig' as self %}

{% set subject = 'product_variant' %}
{% for code, localeCodes in forms %}
    {% for localeCode, form in localeCodes %}
        <div class="attribute" data-id="{{ code }}">
            {% set id = form.vars.label|replace({' ': '_'})|lower %}
            {% if 'type_checkbox' in form.vars.cache_key %}
                {{ self.checkboxField(form, count, id, subject, metadata.applicationName) }}
            {% else %}
                {{ self.textField(form, count, id, subject, metadata.applicationName) }}
            {% endif %}
            <input type="hidden"
                   name="{{ metadata.applicationName }}_{{ subject }}[attributes][{{ count }}][attribute]"
                   id="{{ metadata.applicationName }}_{{ subject }}_attributes_{{ count }}_attribute"
                   value="{{ code }}" />
            <input type="hidden"
                   name="{{ metadata.applicationName }}_{{ subject }}[attributes][{{ count }}][localeCode]"
                   id="{{ metadata.applicationName }}_{{ subject }}_attributes_{{ count }}_localeCode"
                   value="{{ localeCode }}" />
            {% set count = count + 1 %}
        </div>
    {% endfor %}
{% endfor %}
